.container{
  width: 100%;
  margin: 0 auto;
  .row{
    &:before, &:after{
      content: '';
      clear: both;
      display: block;
    }
    [class*="col-"]{
      min-height: 1px;
      float: left;
      display: block;
      width: 100%;
      &.reset-gutter {
        padding-right: 0;
        padding-left: 0;
      }
    }

    @for $i from 1 through 12{

      .col-small-mobile-#{$i}{
        @media (max-width: 301px){
          width: 100% * $i/12;
        }
        &:before, &:after{
          content: '';
          clear: both;
          display: block;
        }
      }
      .col-all-#{$i}{
        width: 100% * $i/12;

        &:before, &:after{
          content: '';
          clear: both;
          display: block;
        }
      }
      .col-mobile-#{$i}{
        @media (min-width: 301px) and  (max-width: 570px){
          width: 100% * $i/12;
        }
        &:before, &:after{
          content: '';
          clear: both;
          display: block;
        }
      }
      .col-tablet-#{$i}{
        @media (min-width: 570px) and (max-width: 768px){
          width: 100% * $i/12;
        }
        &:before, &:after{
          content: '';
          clear: both;
          display: block;
        }
      }
      .col-small-laptop-#{$i}{
        @media (min-width: 768px) and (max-width: 1020px){
          width: 100% * $i/12;
        }
        &:before, &:after{
          content: '';
          clear: both;
          display: block;
        }
      }
      .col-laptop-#{$i} {
        @media (min-width: 1020px) and (max-width: 1400px) {
          width: 100% * $i/12;
        }
        &:before, &:after{
          content: '';
          clear: both;
          display: block;
        }
      }
      .col-biggest-#{$i}{
        @media (min-width: 1400px){
          width: 100% * $i/12;
        }
        &:before, &:after{
          content: '';
          clear: both;
          display: block;
        }
      }
      .offset-col-all-#{$i}{
          margin-left: 100% * $i/12;
      }
      .offset-col-small-mobile-#{$i}{
        @media (max-width: 301px){
          margin-left: 100% * $i/12;
        }
      }
      .offset-col-mobile-#{$i}{
        @media (min-width: 301px) and  (max-width: 570px){
          margin-left: 100% * $i/12;
        }
      }
      .offset-col-tablet-#{$i}{
        @media (min-width: 570px) and (max-width: 768px){
          margin-left: 100% * $i/12;
        }
      }
      .offset-col-small-laptop-#{$i}{
        @media (min-width: 768px) and (max-width: 1020px){
          width: 100% * $i/12;
        }
      }
      .offset-col-laptop-#{$i}{
        @media (min-width: 1020px) and (max-width: 1400px){
          margin-left: 100% * $i/12;
        }
      }
      .offset-col-biggest-#{$i}{
        @media (min-width: 1400px){
          margin-left: 100% * $i/12;
        }
      }
    }
  }
}
