
@media (max-width: 570px) {

  #hush-map {
    position: relative;
    height: 100%;
    overflow: hidden;
    .header-parent{
      position: relative;
      z-index: 5;
    }
    .category-container {
      min-height: 310px;
      margin-top: 10px;
      width: 300%;
      margin-bottom: 0px;
      margin-top: -35px;
      .table-head {
        li {
          font-size: 30px;
          font-family: 'Amatic SC', cursive;
          font-weight: 700;
        }
      }
      ul:nth-of-type(1) {
        margin-bottom: 50px;
      }
      ul {
        display: flex;
        flex-direction: row;
        padding-left: 0px;
        margin-top: 35px;
        width: 100%;
        align-items: center;
        li {
          padding: 0;
          font-size: 20px;
        }

        #created {
          width: 100%;
          height: 20px;
        }
        #width {
          width: 20%;
          margin-left: 10%;
          height: 20px;
        }
        #height {
          width: 20%;
          margin-right: 10%;
          height: 20px;
        }
        #delete {
          width: 100%;
          position: absolute;
          left: 80%;
          z-index: 2;
        }
        #likes {
          width: 100%;
          height: 20px;
        }
        #photo {
          width: 100%;
          position: absolute;
          left: 18%;
          z-index: 0;
          div {
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            overflow: hidden;
            img {
              width: 100%;
            }
          }
        }
        #emptyCategory {
          width: 33.33%;
          font-size: 30px;
          font-family: 'Amatic SC', cursive;
          font-weight: 700;
          color: red
        }
      }
    }
    .changing-page {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background: transparent;
      z-index: -2;
    }

    .hush-map-header {
      font-size: 45px;
      text-align: center;
      letter-spacing: 5px;
      line-height: 50px;
      margin-top: 130px;
      padding-bottom: 30px;
    }
    .intrance-info {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      font-size: 30px;
      font-family: 'Amatic SC', cursive;
      font-weight: 700;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 10px;
      div {
        float: left;
        margin-right: 2px;
      }
      span {
        margin-right: -5px;
      }
    }
    #delete-element{
      background-image: url("../img/trash.png");
      background-repeat: no-repeat;
      width: 15px;
      height: 22px;
      background-size: 100% 100%;
    }
  }
}

@media (max-width: 300px) {
  #hush-map{
    .category-container{
      min-height: 470px;
      ul{
        margin-top: 70px;
        #photo{
          left: 35%;
          z-index: 0;
          padding-bottom: 70px;
          div {
            align-items: flex-end;
          }
        }
        #delete{
          left: 60%;
          padding-bottom: 50px;
        }
        #width{
          width: 20%;
          margin-left: 8%;
          margin-right: 2%;
          height: 20px;
        }
        #height{
          width: 20%;
          margin-left: 2%;
          margin-right: 8%;
          height: 20px;
        }
      }
    }
  }
}

@media (min-width: 570px) and (max-width: 950px) {

  #hush-map {
    position: relative;
    height: 100%;
    overflow: hidden;
    .category-container {
      margin-top: 10px;
      width: 80%;
      margin-bottom: 0px;
      margin-left: 11%;
      .table-head {
        margin-top: 30px;
        height: 30px;
        li {
          font-size: 30px;
          font-family: 'Amatic SC', cursive;
          font-weight: 700;
        }
      }
      ul:nth-of-type(1) {
        margin-bottom: 40px;
      }
      ul {
        display: flex;
        flex-direction: row;
        padding-left: 0px;
        margin-bottom: 120px;
        width: 100%;
        align-items: center;
        li {
          padding: 0;
          font-size: 30px;
        }

        #created {
          width: 34%;
          height: 30px;
        }
        #width {
          width: 21%;
          height: 30px;
        }
        #height {
          width: 21%;
          height: 30px;
        }
        #delete {
          width: 25%;
          position: absolute;
          left: 60%;;
          margin-top: 102px;
          z-index: 2;
          div{
            width: 25px;
            height: 35px;
          }
        }
        #likes {
          width: 20%;
          height: 30px;
        }
        #photo {
          width: 25%;
          position: absolute;
          left: 40%;
          z-index: 0;
          margin-top: 80px;
          div {
            width: 80px;
            height: 80px;
            display: flex;
            overflow: hidden;
            img {
              width: 100%;
            }
          }
        }
        #emptyCategory {
          width: 100%;
          margin: auto;
          font-size: 50px;
          font-family: 'Amatic SC', cursive;
          font-weight: 700;
          color: red
        }
      }
    }
    .changing-page {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background: transparent;
      z-index: -2;
    }

    .hush-map-header {
      font-size: 70px;
      text-align: center;
      letter-spacing: 5px;
      line-height: 70px;
      margin-top: 170px
    }
    .intrance-info {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      font-size: 50px;
      font-family: 'Amatic SC', cursive;
      font-weight: 700;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
      div {
        float: left;
        margin-right: 2px;
      }
      span {
        margin-right: -5px;
      }
    }
    #delete-element{
      background-image: url("../img/trash.png");
      background-repeat: no-repeat;
      width: 15px;
      height: 22px;
      background-size: 100% 100%;
    }
  }
}


@media (min-width: 950px) and (max-width: 1800px) {

  #hush-map {
    position: relative;
    height: 100%;
    overflow: hidden;
    .category-container {
      margin-top: 10px;
      width: 70%;
      margin-bottom: 0px;
      margin-left: 8%;
      min-height: 600px;
      .table-head {
        margin-top: 30px;
        height: 30px;
        li {
          font-size: 30px;
          font-family: 'Amatic SC', cursive;
          font-weight: 700;
        }
      }
      ul:nth-of-type(1) {
        margin-bottom: 40px;
      }
      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 0px;
        margin-bottom: 120px;
        width: 100%;
        align-items: center;
        li {
          padding: 0;
          font-size: 30px;

        }

        #created {
          width: 20%;
          height: 30px;
        }
        #width {
          width: 15%;
          height: 30px;
        }
        #height {
          width: 15%;
          height: 30px;
        }
        #delete {
          width: 10%;
          position: absolute;
          left: 82%;;
          margin-top: 0px;
          z-index: 2;
          div{
            width: 25px;
            height: 35px;
          }
        }
        #likes {
          width: 15%;
          height: 30px;
        }
        #photo {
          width: 10%;
          position: absolute;
          left: 68%;
          z-index: 0;
          margin-top: 0px;
          div {
            width: 120px;
            height: 120px;
            display: flex;
            overflow: hidden;
            img {
              width: 100%;
            }
          }
        }
        #emptyCategory {
          width: 100%;
          margin: auto;
          font-size: 50px;
          font-family: 'Amatic SC', cursive;
          font-weight: 700;
          color: red
        }
      }
      ul:first-of-type{
        li{
          text-decoration: underline;
        }
      }
    }
    .changing-page {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background: transparent;
      z-index: -2;
    }

    .hush-map-header {
      font-size: 70px;
      text-align: center;
      letter-spacing: 5px;
      line-height: 70px;
      margin-top: 170px
    }
    .intrance-info {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      font-size: 50px;
      font-family: 'Amatic SC', cursive;
      font-weight: 700;
      text-align: center;
      margin-top: 70px;
      margin-bottom: 20px;
      div {
        float: left;
        margin-right: 2px;
      }
      span {
        margin-right: -5px;
      }
    }
    #delete-element{
      background-image: url("../img/trash.png");
      background-repeat: no-repeat;
      width: 15px;
      height: 22px;
      background-size: 100% 100%;
    }
  }
}


@media (min-width: 1800px) {

  #hush-map {
    position: relative;
    height: 100%;
    overflow: hidden;
    .category-container {
      margin-top: 1vh;
      width: 70%;
      margin-bottom: 0px;
      margin-left: 8%;
      min-height: 60vh;
      .table-head {
        margin-top: 2vh;
        height: 2vh;
        li {
          font-size: 2.8vh;
          font-family: 'Amatic SC', cursive;
          font-weight: 700;
        }
      }
      ul:nth-of-type(1) {
        margin-bottom: 4vh;
      }
      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 0px;
        margin-bottom: 10vh;
        width: 100%;
        align-items: center;
        li {
          padding: 0;
          font-size: 3vh;

        }

        #created {
          width: 20%;
          height: 2vh;
        }
        #width {
          width: 15%;
          height: 2vh;
        }
        #height {
          width: 15%;
          height: 2vh;
        }
        #delete {
          width: 10%;
          position: absolute;
          left: 82%;;
          margin-top: 0px;
          z-index: 2;
          div{
            width: 2vh;
            height: 3vh;
          }
        }
        #likes {
          width: 15%;
          height: 2vh;
        }
        #photo {
          width: 10%;
          position: absolute;
          left: 68%;
          z-index: 0;
          margin-top: 0px;
          div {
            width: 10vh;
            height: 10vh;
            display: flex;
            overflow: hidden;
            img {
              width: 100%;
            }
          }
        }
        #emptyCategory {
          width: 100%;
          margin: auto;
          font-size: 4vh;
          font-family: 'Amatic SC', cursive;
          font-weight: 700;
          color: red
        }
      }
      ul:first-of-type{
        li{
          text-decoration: underline;
        }
      }
    }
    .changing-page {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      background: transparent;
      z-index: -2;
    }
    .hush-map-header {
      font-size: 7vh;
      text-align: center;
      letter-spacing: 1vh;
      line-height: 8vh;
      margin-top: 15vh
    }
    .intrance-info {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      font-size: 4vh;
      font-family: 'Amatic SC', cursive;
      font-weight: 700;
      text-align: center;
      margin-top: 4vh;
      margin-bottom: 3vh;
      div {
        float: left;
        margin-right: 0.1vh;
      }
      span {
        margin-right: -0.3vh;
      }
    }
    #delete-element{
      background-image: url("../img/trash.png");
      background-repeat: no-repeat;
      width: 1.5vh;
      height: 2.2vh;
      background-size: 100% 100%;
    }
  }
}